#embedding_editor_weight_sliders_container{
	height: 745px;
	overflow-y: auto !important;
	resize: vertical;
	padding-top: 7px;
}

#embedding_editor_refresh_guidance{
    max-width: 2em;
}

[id^="embedding_editor_weight_slider_"] input[type=range] {
  
}